<div class="main-wrapper">


  <div class="header">
    <h1>Create a Post</h1>

    <div class="hr-seperator"></div>

    <div class="avatar">

    </div>
  </div>

  <div class="post-area">
    <textarea name="" id="" cols="30" rows="10"></textarea>

    <div class="media-area">
      <ng-container *ngIf="activeFilesType === fileTypes.IMAGES">
        <div *ngFor="let image of filesUrls" class="image-wrapper">
          <button (click)="removeFile(image.name)" class="btn close-btn">
            <mat-icon>cancel</mat-icon>
          </button>

          <img class="image" [src]="image.url" alt="">
        </div>
      </ng-container>

      <ng-container *ngIf="activeFilesType === fileTypes.VIDEOS">
        <div *ngFor="let image of filesUrls" class="image-wrapper">
          <button (click)="removeFile(image.name)" class="btn close-btn">
            <mat-icon>cancel</mat-icon>
          </button>

          <video class="video"  width="320" height="240" controls>
            <source [src]="image.url">
            Your browser does not support the video tag.
          </video>
        </div>



      </ng-container>



    </div>
  </div>


  <div class="hr-seperator"></div>

  <div class="controls-area d-flex">
    <div class="upload-images-btn">
      <button [disabled]="filesUrls.length > 0" (click)="uploadImagsRef.click()" class="btn">
        <img class="small-image" src="assets/images/upload-image.png" alt="">
      </button>

      <input class="hidden-file-input" #uploadImagsRef accept="image/*" multiple
        (change)="uploadFiles($event, fileTypes.IMAGES)" type="file">
    </div>


    <div class="upload-vedioes-btn">
      <button [disabled]="filesUrls.length > 0" (click)="uploadVideoRef.click()" class="btn">
        <img class="small-image" src="assets/images/upload-image.png" alt="">
      </button>

      <input class="hidden-file-input" #uploadVideoRef accept="video/*" multiple
        (change)="uploadFiles($event, fileTypes.VIDEOS)" type="file">
    </div>
  </div>
</div>
