/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.btn{
  border: none;
  background: transparent;

  &:hover{
    cursor: pointer;
  }
}

button[disabled]{
  opacity: .5;


  &:hover{
    cursor: none;
  }
}

.small-image{
  width: 20px;
  height: 20px;
}


.hr-seperator{
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  margin-bottom: 10px;
}


.d-flex{
  display: flex;
  gap: 15px;
}
